<html>
<head>
<title>管理平台</title>

{# <link href="{{ asset('css/jquery-ui-1.8.23.custom.css') }}" rel="stylesheet" type="text/css"/>#}
{# <script type="text/javascript" src="{{ asset('js/jquery-1.8.0.min.js') }}"></script>#}
{# <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.23.custom.min.js') }}"></script>#}
{# <script type="text/javascript" src="{{ asset('js/jquery.json-2.3.min.js') }}"></script>#}
{# <script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>#}
{# <script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>#}

<script>

</script>
</head>

<frameset cols="20%,80%">
  <frame name="menu" src="{{ url('ydzy_admin_menu') }}" />
  <frame name="page" src="{{ url('ydzy_admin_welcome') }}" />
</frameset>
</html>